<li>
    {{burger_name}}
    
    {{!-- 'un-devour' & 'devour' buttons --}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}UN-DEVOUR BURGER{{else}}DEVOUR BURGER{{/if}}
    </button>

    {{!-- delete button --}}
    <button class="delete-burger" data-id="{{this.id}}">DELETE</button>

</li>